.user-profile-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1.2px solid #ccc; 
    margin: 30px 80px;
    padding: 10px;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 9px;
}

.user-image {
    width: 100%;
    max-width: 200px;  /* or whatever suits your layout */
    height: auto;
    object-fit: contain;
    display: block;
    margin: 10px auto;
    border-radius: 10px;
}